@font-face {
    font-family: "Eurostile BQ";
    src: url('font/Eurostile-Bold-Extended-Font.otf');
    font-display: swap;
}
body {
    background-color: #bab6b6 !important;
    font-family: 'Eurostile BQ', sans-serif !important;
    margin: 0;
    padding: 0;
}
.display-container{
    margin-top: 10px;
    margin-bottom: 10px;
}
.canvasChartsLook {
    width: 90%;
    height: 400px;
    padding-bottom: 30px;
}
