<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/index.css}" href="../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dygraph.css}" href="../static/css/dygraph.css"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}" href="../static/css/bootstrap.css">
    <title>Moja Destylarnia</title>
</head>
<body>
<div class="container text-center">
    <h4>MOJA DESTYLARNIA</h4>
</div>
<div class="container text-center">
    <div class="row justify-content-center" th:text="'Ostatni pomiar: ' + ${last_snap} + ''">
    </div>
    <div class="alert alert-success" role="alert">
        Następny pomiar za: <span id=seconds-counter></span> sekund.
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm display-container">
                <div class="alert alert-info row justify-content-center" th:text="'Poziom 1: ' + ${level1} + '°C'">
                </div>
            </div>
            <div class="col-sm display-container">
                <div class="alert alert-primary row justify-content-center" th:text="'Poziom 2: ' + ${level2} + '°C'">
                </div>
            </div>
            <div class="col-sm display-container">
                <div class="alert alert-warning row justify-content-center" th:text="'Poziom 3: ' + ${level3} + '°C'">
                </div>
            </div>
            <div class="col-sm display-container">
                <div class="alert alert-success row justify-content-center" th:text="'Poziom 4: ' + ${level4} + '°C'">
                </div>
            </div>
        </div>
        <div class="canvasChartsLook" id="temp_limited_chart"></div>
        <div class="canvasChartsLook" id="temp_chart"></div>
    </div>


    <script th:inline="javascript">
        /*<![CDATA[*/
        let level1 = [[${level1}]];
        let level2 = [[${level2}]];
        let level3 = [[${level3}]];
        let level4 = [[${level4}]];

        let last_snap = [[${last_snap}]];

        let chart = [[${chart}]];
        let limited_chart = [[${limited_chart}]];
        /*]]>*/
    </script>
    <script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script type="text/javascript" src="../static/js/charts.js"
            th:src="@{/js/charts.js}"></script>
    <script type="text/javascript" src="../static/js/dygraph.min.js"
            th:src="@{/js/dygraph.min.js}"></script>
</body>
</html>